{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
    <div class="container mt-5">
        <div id="content" class="row">
            <div id="left-menu" class="col-2 d">
                <ul>
                    <li>Menu Item</li>
                    <li>Menu Item</li>
                    <li>Menu Item</li>
                    <li>Menu Item</li>
                    <li>Menu Item</li>
                </ul>
            </div>
            <div id="middle-content" class="col-5 offset-1">
                <p>Je suis le contenue</p>
            </div>
            <div id="right-cart" class="col-2 offset-1">
                <p>Par ici les sous-sous</p>
            </div>
        </div>
    </div>
{% endblock %}

