<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
    >
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        <div class="main">
            <div id="menu" class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="{{ asset('/assets/img/logo-BetWare_c.png') }}"
                             alt="logo"
                             width="50"
                             height="auto"
                        >
                    </a>
                    <div class="d-flex justify-content-end">
                        <button
                                id="button_login"
                                class="btn btn-outline-primary my-2 my-sm-0 mx-2"
                                type="button"
                                onclick="location.href='/login'">
                            Se connecter
                        </button>
                        <button
                                id="button_register"
                                class="btn btn-outline-primary my-2 my-sm-0 mx-2"
                                type="button"
                                onclick="location.href='/register'">
                            S'enregistrer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</header>
{% block body %}{% endblock %}
<footer>
    {% block footer %}

    {% endblock %}
</footer>
{% block javascripts %}{% endblock %}
</body>
</html>
